<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.ghg.client.auth.mapper.UserRoleMapper">

    <!-- 사용자-권한 부여 -->
    <insert id="save" parameterType="Role">
        /* SQL_ID : kr.centero.ghg.client.auth.mapper.UserRoleMapper.save */
        INSERT INTO tb_user_role (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>

    <!-- 사용자-권한 전체 삭제 -->
    <delete id="deleteAll">
        /* SQL_ID : kr.centero.ghg.client.auth.mapper.UserRoleMapper.deleteAll */
        DELETE
        FROM tb_user_role
    </delete>

</mapper>
