<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.ghg.admin.mdm.mapper.CodeMapper">

        <select id="findCodeForTree" resultType="Code"> 
        SELECT CODE_CD
             , IFNULL(L.DSP_TEXT, C.LANG_CD) CODE_NM
             , CODE_LVL
             , P_CODE_CD
             , DSP_ORDER
             , EXP_FR_DT
             , EXP_TO_DT
             , USE_YN
             , ATTR1_JSON
             , ATTR2_JSON
             , ATTR3_JSON
             , ATTR4_JSON
             , ATTR5_JSON
             , ATTR6_JSON
             , ATTR7_JSON
             , ATTR8_JSON
             , ATTR9_JSON
             , ATTR10_JSON
          FROM TB_CMM_CODE C
               LEFT JOIN TB_CMM_LANG L ON (L.LOCALE_CD = IFNULL(#{localeCd}, "ko_KR") AND L.LANG_CD = C.LANG_CD)
         ORDER BY P_CODE_CD, DSP_ORDER
    </select>

    <select id="findAll" parameterType="Code" resultType="Code">
        /* SQL_ID : kr.centero.ghg.admin.mdm.mapper.CodeMapper.findAll */
        SELECT A.CODE_CD
             , A.LANG_CD
             , IFNULL(L.DSP_TEXT, A.LANG_CD) CODE_NM
             , A.CODE_LVL
             , A.P_CODE_CD
             , IFNULL(LP.DSP_TEXT, B.LANG_CD) P_CODE_NM
             , A.DSP_ORDER
             , A.USE_YN
             , A.EXP_FR_DT
             , A.EXP_TO_DT
             , A.ATTR1_JSON
             , A.ATTR1_VAL
             , A.ATTR2_JSON
             , A.ATTR2_VAL
             , A.ATTR3_JSON
             , A.ATTR3_VAL
             , A.ATTR4_JSON
             , A.ATTR4_VAL
             , A.ATTR5_JSON
             , A.ATTR5_VAL
             , A.ATTR6_JSON
             , A.ATTR6_VAL
             , A.ATTR7_JSON
             , A.ATTR7_VAL
             , A.ATTR8_JSON
             , A.ATTR8_VAL
             , A.ATTR9_JSON
             , A.ATTR9_VAL
             , A.ATTR10_JSON
             , A.ATTR10_VAL
          FROM TB_CMM_CODE A
               JOIN TB_CMM_CODE B ON B.CODE_CD = A.P_CODE_CD
               LEFT JOIN TB_CMM_LANG L ON (L.LOCALE_CD = IFNULL(#{localeCd}, "ko_KR") AND L.LANG_CD = A.LANG_CD)
               LEFT JOIN TB_CMM_LANG LP ON (LP.LOCALE_CD = IFNULL(#{localeCd}, "ko_KR") AND LP.LANG_CD = B.LANG_CD)
         WHERE 1 = 1
         <if test='pcodeCd != null and pcodeCd.size() > 0'>
           AND A.P_CODE_CD IN <foreach collection="pcodeCd" item="item" open="(" close=")" separator=",">#{item}</foreach>
         </if>
         <if test='searchText != null and searchText != ""'>
           AND INSTR(CONCAT(IFNULL(A.LANG_CD,''),IFNULL(A.ATTR1_VAL,''),IFNULL(A.ATTR2_VAL,''),IFNULL(A.ATTR3_VAL,''),IFNULL(A.ATTR4_VAL,''),IFNULL(A.ATTR5_VAL,'')), #{searchText}) <![CDATA[>]]> 0
         </if>
         <if test='useYn != null and useYn != ""'>
           AND A.USE_YN = #{useYn}
         </if>
         <if test='period != null and period.size > 0'>
           AND A.EXP_FR_DT <![CDATA[<=]]> STR_TO_DATE(#{period[1]}, '%Y-%m-%d')
           AND A.EXP_TO_DT <![CDATA[>=]]> STR_TO_DATE(#{period[0]}, '%Y-%m-%d')
         </if>
         ORDER BY A.CODE_LVL, A.P_CODE_CD, A.DSP_ORDER
    </select>

    <update id="saveCodeList" parameterType="java.util.List">
        <foreach collection="list" item="item">
            <choose>
            <when test='item.crudFlag == "C"'>
                INSERT
                  INTO TB_CMM_CODE(
                      CODE_CD
                    , LANG_CD
                    , CODE_LVL
                    , P_CODE_CD
                    , DSP_ORDER
                    , USE_YN
                    , EXP_FR_DT
                    , EXP_TO_DT
                    , ATTR1_JSON
                    , ATTR1_VAL
                    , ATTR2_JSON
                    , ATTR2_VAL
                    , ATTR3_JSON
                    , ATTR3_VAL
                    , ATTR4_JSON
                    , ATTR4_VAL
                    , ATTR5_JSON
                    , ATTR5_VAL
                    , ATTR6_JSON
                    , ATTR6_VAL
                    , ATTR7_JSON
                    , ATTR7_VAL
                    , ATTR8_JSON
                    , ATTR8_VAL
                    , ATTR9_JSON
                    , ATTR9_VAL
                    , ATTR10_JSON
                    , ATTR10_VAL
                    , CRT_ID
                    , UPD_ID)
                VALUES (
                      #{item.codeCd}
                    , #{item.langCd}
                    , #{item.codeLvl}
                    , #{item.pcodeCd}
                    , #{item.dspOrder}
                    , #{item.useYn}
                    , #{item.expFrDt}
                    , #{item.expToDt}
                    , #{item.attr1Json}
                    , #{item.attr1Val}
                    , #{item.attr2Json}
                    , #{item.attr2Val}
                    , #{item.attr3Json}
                    , #{item.attr3Val}
                    , #{item.attr4Json}
                    , #{item.attr4Val}
                    , #{item.attr5Json}
                    , #{item.attr5Val}
                    , #{item.attr6Json}
                    , #{item.attr6Val}
                    , #{item.attr7Json}
                    , #{item.attr7Val}
                    , #{item.attr8Json}
                    , #{item.attr8Val}
                    , #{item.attr9Json}
                    , #{item.attr9Val}
                    , #{item.attr10Json}
                    , #{item.attr10Val}
                    , 'admin'
                    , 'admin'
                );
            </when>
             <!--<when test='item.crudFlag == "D"'>
				DELETE FROM CMN_CODE WHERE CODE_CD = #{item.codeCd}; 
			 </when>-->
            <otherwise>
                UPDATE TB_CMM_CODE
                   SET LANG_CD = #{item.langCd}
                    , CODE_LVL = #{item.codeLvl}
                    , P_CODE_CD = #{item.pcodeCd}
                    , DSP_ORDER = #{item.dspOrder}
                    , USE_YN = #{item.useYn}
                    , EXP_FR_DT = #{item.expFrDt}
                    , EXP_TO_DT = #{item.expToDt}
                    , ATTR1_JSON = #{item.attr1Json}
                    , ATTR1_VAL = #{item.attr1Val}
                    , ATTR2_JSON = #{item.attr2Json}
                    , ATTR2_VAL = #{item.attr2Val}
                    , ATTR3_JSON = #{item.attr3Json}
                    , ATTR3_VAL = #{item.attr3Val}
                    , ATTR4_JSON = #{item.attr4Json}
                    , ATTR4_VAL = #{item.attr4Val}
                    , ATTR5_JSON = #{item.attr5Json}
                    , ATTR5_VAL = #{item.attr5Val}
                    , ATTR6_JSON = #{item.attr6Json}
                    , ATTR6_VAL = #{item.attr6Val}
                    , ATTR7_JSON = #{item.attr7Json}
                    , ATTR7_VAL = #{item.attr7Val}
                    , ATTR8_JSON = #{item.attr8Json}
                    , ATTR8_VAL = #{item.attr8Val}
                    , ATTR9_JSON = #{item.attr9Json}
                    , ATTR9_VAL = #{item.attr9Val}
                    , ATTR10_JSON = #{item.attr10Json}
                    , ATTR10_VAL = #{item.attr10Val}
                    , UPD_ID = 'admin'
                    , UPD_TM = CURRENT_TIMESTAMP
                WHERE CODE_CD = #{item.codeCd}
                ;
            </otherwise>
            </choose>
        </foreach>
    </update>


</mapper>
