<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlResolve -->
<mapper namespace="kr.centero.ghg.client.board.mapper.BoardMapper">

        <!-- 게시판 상세 정보 조회 -->
        <select id="selectBoard" resultType="Board">
            /* SQL_ID : kr.centero.ghg.board.mapper.BoardMapper.selectBoard */

            SELECT
                 TCB.BRD_SEQ
                ,TCB.BRD_ParentSEQ
                ,TCB.BRD_Category
                ,CASE WHEN TCB.Deleted_YN = 'Y' THEN 'Data deleted by the administrator.'
                     ELSE TCB.BRD_Title END AS BRD_Title
                ,TCB.BRD_Contents
                ,TCB.Top_YN
                ,TCB.Top_End_DT
                ,TCB.Read_CNT
                ,TCB.Deleted_YN
                ,CASE WHEN DATEDIFF(TCB.Create_DT, NOW()) <![CDATA[<]]> 4 THEN 'Y' ELSE 'N' END AS New_YN
                ,TCB.Create_ID
                ,ACT.ORG_Name	AS Create_NM
                ,TCB.Create_DT
                ,TCB.Update_ID
                ,TCB.UPdate_DT
                ,ACT.Main_Account_ID
            FROM	TB_CMM_BOARD AS TCB
            INNER JOIN	VW_ACT_ACCOUNT_ALL AS ACT ON ACT.Account_ID = TCB.Create_ID
            WHERE	BRD_SEQ	= #{brdSeq}
        </select>

    <!-- 게시판 목록 조회 -->
    <select id="selectBoardList" parameterType="Board" resultType="Board">
        /* SQL_ID : kr.centero.ghg.board.mapper.BoardMapper.selectBoardList */

        SELECT TCB.BRD_SEQ,
               TCB.BRD_ParentSEQ,
               TCB.BRD_Category,
               CASE
                   WHEN TCB.Deleted_YN = 'Y' THEN 'Data deleted by the administrator.'
                   ELSE TCB.BRD_Title END   AS BRD_Title,
               TCB.BRD_Contents,
               TCB.Top_YN,
               TCB.Top_End_DT,
               TCB.Read_CNT,
               TCB.Deleted_YN,
               F.FILE_CNT                   AS AttachFile_CNT,
               CMT.CMT_CNT                  AS Comment_CNT,
               CASE WHEN DATEDIFF(TCB.Create_DT, NOW()) <![CDATA[<]]> 4 THEN 'Y' ELSE 'N' END AS New_YN,
               TCB.Create_ID,
               ACT.ORG_Name                 AS Create_NM,
               TCB.Create_DT,
               TCB.Update_ID,
               ACT1.ORG_Name                                                         AS Update_NM,
               TCB.Update_DT,
               ROW_NUMBER() OVER (ORDER BY TCB.BRD_SEQ DESC) AS ROW_NUM
        FROM TB_CMM_BOARD AS TCB
                 INNER JOIN VW_ACT_ACCOUNT_ALL AS ACT ON ACT.Account_ID = TCB.Create_ID
                 INNER JOIN VW_ACT_ACCOUNT_ALL AS ACT1 ON ACT1.Account_ID = TCB.Update_ID
                 LEFT JOIN (SELECT Attach_Category, Attach_Category_DIV, Attach_Category_SEQ, COUNT(*) AS FILE_CNT
                            FROM TB_CMM_ATTACHFILE
                            WHERE Use_YN = 'Y'
                            GROUP BY Attach_Category, Attach_Category_DIV, Attach_Category_SEQ) AS F
                           ON F.Attach_Category = TCB.BRD_Category
                               AND F.Attach_Category_DIV = TCB.BRD_Category
                               AND F.Attach_Category_SEQ = CONVERT(CAST(TCB.BRD_SEQ AS CHAR), CHAR)
                 LEFT JOIN (SELECT CMT_Category, CMT_Category_DIV, CMT_Category_SEQ, COUNT(*) AS CMT_CNT
                            FROM TB_CMM_COMMENT
                            GROUP BY CMT_Category, CMT_Category_DIV, CMT_Category_SEQ) AS CMT
                           ON CMT.CMT_Category = TCB.BRD_Category
                               AND CMT.CMT_Category_DIV = TCB.BRD_Category
                               AND CMT.CMT_Category_SEQ = CONVERT(CAST(TCB.BRD_SEQ AS CHAR), CHAR)
        WHERE TCB.BRD_Category = BRD_Category

        <if test="@org.springframework.util.StringUtils@hasText(searchText)">
            AND TCB.Deleted_YN <![CDATA[<>]]> 'Y'
            <choose>
                    <when test='searchType == "0"'>
                    AND TCB.BRD_Title LIKE '%' <![CDATA[&&]]> #{searchText} <![CDATA[&&]]> '%'
                     OR TCB.BRD_Contents LIKE '%' <![CDATA[&&]]> #{searchText} <![CDATA[&&]]> '%'
                     OR EXISTS (
                            SELECT  *
                            FROM    TB_ACT_ACCOUNT AS AA
                            WHERE   AA.Account_ID = TCB.Create_ID
                            AND     AA.ORG_Name LIKE '%' <![CDATA[&&]]> #{searchText} <![CDATA[&&]]> '%'
                            )
                </when>
                <when test='searchType == "1"'>
                    AND TCB.BRD_Title LIKE '%' <![CDATA[&&]]> #{searchText} <![CDATA[&&]]> '%'
                </when>
                <when test='searchType == "2"'>
                    AND TCB.BRD_Contents LIKE '%' <![CDATA[&&]]> #{searchText} <![CDATA[&&]]> '%'
                </when>
                <otherwise>
                    -- Account 테이블에서 사용자 명은 조직명으로 처리하기로 결정 함.
                    AND EXISTS (
                            SELECT	*
                            FROM	TB_ACT_ACCOUNT AS AA
                            WHERE	AA.Account_ID = TCB.Create_ID
                            AND		AA.ORG_Name LIKE '%' <![CDATA[&&]]> #{searchText} <![CDATA[&&]]> '%'
                        )
                </otherwise>
            </choose>
        </if>
    </select>

    <!-- 게시판 등록 -->
    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="brdSeq">
        /* SQL_ID : kr.centero.ghg.board.mapper.BoardMapper.insertBoard */
        INSERT INTO TB_CMM_BOARD
        (
             BRD_ParentSEQ
            ,BRD_Category
            ,BRD_Title
            ,BRD_Contents
            ,Top_YN
            ,Top_End_DT
            ,Read_CNT
            ,Deleted_YN
            ,Create_ID
            ,Create_DT
            ,Update_ID
            ,UPdate_DT
        )
        VALUES
        (
             #{brdParentSeq}
            ,#{brdCategory}
            ,#{brdTitle}
            ,#{brdContents}
            ,'N'
            ,#{topEndDt}
            ,'0'
            ,'N'
            ,#{loginUserId}
            ,NOW()
            ,#{loginUserId}
            ,NOW()
        )
    </insert>

    <!-- 게시판 수정 -->
    <update id="updateBoard" parameterType="Board">
        /* SQL_ID : kr.centero.ghg.board.mapper.BoardMapper.updateBoard */
        UPDATE	TB_CMM_BOARD
        <set>
            <if test="@org.springframework.util.StringUtils@hasText(brdCategory)">
                BRD_Category = #{brdCategory},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(brdTitle)">
                BRD_Title = #{brdTitle},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(brdContents)">
                BRD_Contents = #{brdContents},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(topYn)">
                Top_YN = #{topYn},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(topEndDt)">
                Top_End_DT = #{topEndDt},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(loginUserId)">
                Update_ID = #{loginUserId},
            </if>
            UPdate_DT = NOW()
        </set>
        WHERE   BRD_SEQ = #{brdSeq}
    </update>

    <!-- 게시판 삭제 처리 (상태 변경) -->
    <update id="updateBoardToDelete" parameterType="Board">
        /* SQL_ID : kr.centero.ghg.board.mapper.BoardMapper.updateBoardToDelete */
        UPDATE	TB_CMM_BOARD
        SET		Deleted_YN = 'Y'
                ,Update_ID = #{loginUserId}
                ,UPdate_DT = NOW()
        WHERE	BRD_SEQ	= #{brdSeq}
    </update>

</mapper>
