<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.ghg.client.terms.mapper.TermsMapper">

    <!-- 약관 조회 -->
    <select id="findTermsByCond" resultType="Terms">
        /* SQL_ID : kr.centero.ghg.client.terms.mapper.findTermsByCond */
        /* 약관 조회 */
        SELECT A.*, B.VERSION_LIST FROM (
        SELECT *
        FROM TB_ACT_TERMS A
        WHERE 1=1
        <if test='termsId != null and termsId != ""'>
            AND TERMS_ID = #{termsId}
        </if>
        <if test='version != null and version != ""'>
            AND IS_USE = #{isUse}
        </if>
        <if test='version != null and version != ""'>
            AND TERMS_TYPE = #{termsType}
        </if>
        <if test='version != null and version != ""'>
            AND IS_REQUIRED = #{isRequired}
        </if>
        <if test='version != null and version != ""'>
            AND VERSION = #{version}
        </if>
        <if test='version = null and version = ""'>
            AND VERSION = (
            SELECT MAX(VERSION) FROM TB_ACT_TERMS B
            WHERE B.TERMS_ID = A.TERMS_ID AND B.SERVICE_TYPE = A.SERVICE_TYPE
            GROUP BY TERMS_ID, SERVICE_TYPE
            )
        </if>
        <if test='serviceType != null and serviceType != ""'>
            AND SERVICE_TYPE = #{serviceType}
        </if>
        ) A
        LEFT JOIN (
        SELECT TERMS_ID, SERVICE_TYPE, GROUP_CONCAT(VERSION) AS VERSION_LIST FROM TB_ACT_TERMS
        GROUP BY TERMS_ID, SERVICE_TYPE
        ) B
        ON A.TERMS_ID = B.TERMS_ID AND A.SERVICE_TYPE = B.SERVICE_TYPE
    </select>

    <!-- 사용자 최신 약관 동의 여부 조회 -->
    <select id="findTermsByAccounts" resultType="Terms">
        /* SQL_ID : kr.centero.client.terms.mapper.findTermsByAccounts */
        /* 사용자 최신 약관 동의 여부 조회 */
        SELECT A.*
        FROM TB_ACT_TERMS A
        LEFT JOIN
            (
                SELECT *
                FROM TB_ACT_ACCOUNT_AGREEMENT_TEST
                WHERE ACCOUNT_ID = #{accountId}
            ) B
        ON A.TERMS_ID = B.TERMS_ID AND A.VERSION = B.VERSION AND B.SERVICE_TYPE = A.SERVICE_TYPE
        WHERE
            A.SERVICE_TYPE IN (
                SELECT SERVICE_TYPE
                FROM TB_ACT_ACCOUNT_SERVICE
                WHERE ACCOUNT_ID = #{accountId}
                )
        AND A.IS_USE = 'Y'
        AND A.IS_REQUIRED = 'Y'
        AND B.TERMS_ID IS NULL
        AND A.VERSION = (
            SELECT MAX(VERSION)
            FROM TB_ACT_TERMS C
            WHERE C.TERMS_ID = A.TERMS_ID
            AND C.SERVICE_TYPE = A.SERVICE_TYPE
            GROUP BY TERMS_ID, SERVICE_TYPE
            )
        AND SYSDATE() > A.OPENED_AT
    </select>

    <insert id="saveTerms">
        INSERT INTO TB_ACT_TERMS(TERMS_ID, SERVICE_TYPE, VERSION, TERMS_TYPE, TITLE, CONTENT, OPENED_AT, IS_USE,
                                 IS_REQUIRED, DISPLAY_ORDER, CREATE_DT, CREATE_ID, MODIFY_DT, MODIFY_ID)
        VALUES (1,
                #{serviceType},
                1,
                #{termsType},
                #{title},
                #{content},
                #{openedAt},
                #{isUse},
                #{isRequired},
                #{displayOrder},
                SYSDATE(),
                #{createId},
                SYSDATE(),
                #{modifyId})
    </insert>

    <insert id="revisionTerms">
        INSERT INTO TB_ACT_TERMS
        SELECT #{termsId},
               SERVICE_TYPE,
               VERSION + 1,
               TERMS_TYPE,
               #{title},
               #{content},
               #{openedAt},
               #{isUse},
               #{isRequired},
               DISPLAY_ORDER,
               SYSDATE(),
               #{createId},
               SYSDATE(),
               #{modifyId}
        FROM TB_ACT_TERMS
        WHERE TERMS_ID = #{termsId}
          AND VERSION = (SELECT MAX(VERSION) FROM TB_ACT_TERMS WHERE TERMS_ID = #{termsId})
    </insert>

    <update id="modifyTerms">
        UPDATE TB_ACT_TERMS
        <set>
            <if test="@org.springframework.util.StringUtils@hasText(serviceType)">
                SERVICE_TYPE = #{serviceType},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(title)">
                TITLE = #{title},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(content)">
                CONTENT = #{content},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(openedAt)">
                OPENED_AT = #{openedAt},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(isUse)">
                IS_USE = #{isUse},
            </if>
            <if test='displayOrder = null and displayOrder = ""'>
                DISPLAY_ORDER = #{displayOrder},
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(modifyId)">
                MODIFY_ID = #{modifyId},
            </if>
            MODIFY_DT = SYSDATE()
        </set>
        WHERE TERMS_ID = #{termsId}
        AND VERSION = (SELECT VERSION FROM (MAX(VERSION) AS VERSION FROM TB_ACT_TERMS WHERE TERMS_ID = #{termsId}) AS A)
    </update>
</mapper>
