<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.common.client.auth.mapper.UserTokenMapper">

    <!-- 사용자 토큰 등록 -->
    <insert id="save" parameterType="CenteroUserToken">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.save */
        INSERT INTO TB_USER_TOKEN (
            USERNAME,
            ACCESS_TOKEN,
            REFRESH_TOKEN,
            ROLES,
            ISSUED_AT
        ) VALUES (
            #{username},
            #{accessToken},
            #{refreshToken},
            #{roles},
            #{issuedAt}
        )
    </insert>

    <!-- 사용자 토큰 수정 -->
    <update id="update" parameterType="CenteroUserToken">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.update */
        UPDATE TB_USER_TOKEN
        SET
            ACCESS_TOKEN = #{accessToken},
            ISSUED_AT = #{issuedAt}
        WHERE USERNAME = #{username} AND REFRESH_TOKEN = #{refreshToken}
    </update>

    <!-- 사용자 토큰 조회 -->
    <select id="findByUsername" resultType="CenteroUserToken">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.findByUsername */
        SELECT
            ID,
            USERNAME,
            ACCESS_TOKEN,
            REFRESH_TOKEN,
            ROLES,
            ISSUED_AT
        FROM TB_USER_TOKEN
        WHERE USERNAME = #{username}
    </select>

    <!-- 사용자 토큰 조회 -->
    <select id="findByAccessToken" resultType="CenteroUserToken">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.findByAccessToken */
        SELECT
            ID,
            USERNAME,
            ACCESS_TOKEN,
            REFRESH_TOKEN,
            ROLES,
            ISSUED_AT
        FROM TB_USER_TOKEN
        WHERE ACCESS_TOKEN = #{accessToken}
    </select>

    <!-- 사용자 토큰 삭제 -->
    <delete id="deleteByUsername">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.deleteByUsername */
        DELETE
        FROM TB_USER_TOKEN
        WHERE USERNAME = #{username}
    </delete>

</mapper>
