<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.common.client.auth.mapper.UserTokenMapper">

    <!-- 사용자 토큰 등록 -->
    <insert id="save" parameterType="CenteroUserToken">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.save */
        INSERT INTO tb_token (
            username,
            access_token,
            refresh_token,
            roles,
            issued_at
        ) VALUES (
            #{username},
            #{accessToken},
            #{refreshToken},
            #{roles},
            #{issuedAt}
        )
    </insert>

    <!-- 사용자 토큰 목록 조회 -->
    <select id="findByUsername" resultType="CenteroUserToken">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.findByUsername */
        SELECT
            id,
            username,
            access_token,
            refresh_token,
            roles,
            issued_at
        FROM tb_token
        WHERE username = #{username}
    </select>

    <!-- 사용자 토큰 삭제 -->
    <delete id="deleteByUsername">
        /* SQL_ID : kr.centero.common.auth.mapper.UserTokenMapper.deleteByUsername */
        DELETE
        FROM tb_token
        WHERE username = #{username}
    </delete>

</mapper>
