<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.netzero.client.auth.mapper.RoleMapper">

    <!-- 권한 조회 -->
    <select id="findByRoleName" resultType="Long">
        /* SQL_ID : kr.centero.netzero.auth.mapper.RoleMapper.findByRoleName */
        SELECT role_id
        FROM tb_role
        WHERE role_name = #{roleName}
    </select>

    <!-- 권한 등록 -->
    <insert id="save" parameterType="Role" useGeneratedKeys="true" keyProperty="roleId">
        /* SQL_ID : kr.centero.netzero.auth.mapper.RoleMapper.save */
        INSERT INTO tb_role (role_name)
        VALUES (#{roleName})
    </insert>

    <!-- 권한 전체 삭제 -->
    <delete id="deleteAll">
        /* SQL_ID : kr.centero.netzero.auth.mapper.RoleMapper.deleteAll */
        DELETE
        FROM tb_role
    </delete>

</mapper>
