<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.centero.ghg.user.mapper.UserMapper">

    <!-- 조건에 따른 사용자 조회 -->
    <select id="findUserByCond" parameterType="User" resultType="User">
        /* SQL_ID : kr.centero.ghg.user.mapper.UserMapper.findUserByCond */
        SELECT
            tu.user_id,
            tu.username,
            tu.password,
            tu.email,
            tr.role_name
        FROM tb_user tu
         INNER JOIN tb_user_role tur ON tur.user_id = tu.user_id
         INNER JOIN tb_role tr ON tr.role_id = tur.role_id
        <where>
            <if test="userId != null">
                tu.user_id = #{userId}
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(username)">
                AND tu.username = #{username}
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(email)">
                AND tu.email = #{email}
            </if>
            <if test="@org.springframework.util.StringUtils@hasText(roleName)">
                AND tr.role_name = #{roleName}
            </if>
        </where>
        ORDER BY tu.username, tr.role_name
    </select>

    <!-- 사용자 등록 -->
    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        /* SQL_ID : kr.centero.ghg.user.mapper.UserMapper.save */
        INSERT INTO tb_user (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <!-- 사용자 수정 -->
    <update id="update" parameterType="User">
        /* SQL_ID : kr.centero.ghg.user.mapper.UserMapper.update */
        UPDATE tb_user
        SET username = #{username},
            password = #{password},
            email = #{email}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 전체 삭제 -->
    <delete id="deleteAll">
        /* SQL_ID : kr.centero.ghg.user.mapper.UserMapper.UserMapper.deleteAll */
        DELETE FROM tb_user
    </delete>

</mapper>
